// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


////COLOR PALETES
$white: #ffffff;
$offWhite: #F1F5F9;
$purple: #701A75;
$yellow: #FBBF24;
$lightblue: #0284C7;
$blue: #0F172A;
$darkBlue: #475569;
$black: #000;
$orange: #FF5349;


//FONT SIZES
$h1: 100px;
$h2: 64px;
$h3: 48px; 
$h4: 18px;
$h5: 16px;
$paraFont: 21px;
// $narrowText: 14px;
$btnText: 16px; 


//FONT FAMILY 
// $fontLora: 'Lora';


//FONT WEIGHTS
$light: 70;
$regular: 500;
$medium: 500;
$bold: 700;