@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main14 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0px;

  @include breakpoint(xs){
    padding: 25px 0px;
  }

  .for-center-main14 {
    // border: 2px solid blue;
    max-width: 1700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .single-div {
      // border: 2px solid green;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      h2 {
        font-size: 36px;
        padding-bottom: 25px;

        @include breakpoint(xl){
          font-size: 30px;
        }

        @include breakpoint(sm){
          font-size: 26px;
        }
      }

      h3 {
        font-size: 30px;
        padding-bottom: 25px;
        text-align: center;

        @include breakpoint(xl){
          font-size: 25px;
        }

        @include breakpoint(lg){
          width: 75%;
        }

        @include breakpoint(sm){
          font-size: 19px;
      width: 85%;
        }

        @include breakpoint(xs){
          // font-size: ;
          width: 90%;
        }
      }

      p {
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
        width: 75%;

        @include breakpoint(hd){
          width: 90%;
        }

        @include breakpoint(xl){
          font-size: 18px;
        }

        @include breakpoint(lg){
          font-size: 16px;
        }
      }
    }
  }
}
